#div-blocks, #container {
	display: flex;
	justify-content: stretch;
	width: 200px;
}

.box {
	border: 2px solid black;
	width: 20px;
	text-align: center;
	margin-inline: 1px;
}

.blocks-btn {
	text-align: center;
	padding-inline: 3px;
	height: 20px;
	margin-block: 16px;
	margin-inline: 10px;
	width: 25px;
	border-radius: 7px;
	border: 1px solid black;
}
